<footer>

<div class="content-padding">
  <hr>
  <div class="footer-content">
    <p>Coded By <a href="https://www.linkedin.com/in/paul-matthews-730888139/">Paul Matthews</a></p>
    
    <div class="social-media-icons">
      <a href="#"><i class="fa fa-empire"></i></a>
      <a href="#"><i class="fa fa-rebel"></i></a>
    </div>
  </div>
</div>

</footer>